body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dokument {
    display: none;
    margin-top: 30px;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.dokument img {
    max-width: 100%;
}